In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.color_palette("muted")
import scipy.stats as stats
%matplotlib inline
import scipy.stats as stats
from datetime import datetime as dt
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [39]:
data = pd.read_csv('../data/data.csv', index_col=0)

In [40]:
data.describe()

,apple_frame,barn,beach,bridge,bushes,cabin,cirrus,cliff,clouds,conifer,cumulus,deciduous,fence,flowers,fog,grass,hills,lake,mountain,mountains,night,ocean,palm_trees,path,river,rocks,snow,snowy_mountain,structure,sun,tree,trees,waterfall,waves,winter,viewCount,likeCount,favoriteCount,dislikeCount,commentCount,season_num,episode_num
count,302.0,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,3.020000e+02,302.000000,302.0,302.000000,302.000000,302.000000,302.000000
mean,0.0,0.049669,0.062914,0.016556,0.307947,0.168874,0.069536,0.019868,0.453642,0.536424,0.198675,0.569536,0.062914,0.019868,0.056291,0.364238,0.046358,0.380795,0.410596,0.264901,0.033113,0.082781,0.026490,0.112583,0.304636,0.182119,0.195364,0.268212,0.215232,0.109272,0.907285,0.847682,0.119205,0.076159,0.178808,3.675232e+05,4143.774834,0.0,79.006623,529.334437,16.228477,6.745033
std,0.0,0.217621,0.243211,0.127813,0.462411,0.375263,0.254786,0.139777,0.498673,0.499499,0.399665,0.495963,0.243211,0.139777,0.230866,0.482015,0.210607,0.486388,0.492758,0.442013,0.179228,0.276009,0.160854,0.316607,0.461017,0.386583,0.397139,0.443764,0.411665,0.312497,0.290514,0.359925,0.324568,0.265693,0.383827,7.015058e+05,10705.224967,0.0,173.482256,1498.433912,9.137058,3.873999
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.365400e+04,586.000000,0.0,6.000000,44.000000,1.000000,1.000000
25%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,9.909150e+04,1144.250000,0.0,18.250000,160.250000,8.000000,3.000000
50%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.540085e+05,1617.000000,0.0,31.000000,229.000000,16.000000,6.500000
75%,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,3.323312e+05,3099.500000,0.0,75.750000,374.750000,24.000000,10.000000
max,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.529170e+06,152477.000000,0.0,2249.000000,21209.000000,31.000000,13.000000

### Viral videos

Set up dichotomous variable for 'viral video', where viral videos have the highest 10% of views.

In [60]:
print('The max number of views is', data.viewCount.max())
print('The min number of views is', data.viewCount.min())
print('The upper 10% of viewership is greater than', round(data.viewCount.quantile(.9)), 'views')

The max number of views is 7529170.0
The min number of views is 43654.0
The upper 10% of viewership is greater than 727790 views

In [53]:
threshold = data.viewCount.quantile(.9)
data['viral'] = data['viewCount'] >= threshold
data['viral'] = data['viral'] * 1

In [64]:
print('There are', (len(data.viral[data.viral ==1])), 'viral videos is this data set.')

There are 31 viral videos is this data set.

### Training data