In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.color_palette("muted")
import scipy.stats as stats
%matplotlib inline
import scipy.stats as stats
from datetime import datetime as dt
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [39]:
data = pd.read_csv('../data/data.csv', index_col=0)

In [40]:
data.describe()

,apple_frame,barn,beach,bridge,bushes,cabin,cirrus,cliff,clouds,conifer,cumulus,deciduous,fence,flowers,fog,grass,hills,lake,mountain,mountains,night,ocean,palm_trees,path,river,rocks,snow,snowy_mountain,structure,sun,tree,trees,waterfall,waves,winter,viewCount,likeCount,favoriteCount,dislikeCount,commentCount,season_num,episode_num
count,302.0,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,3.020000e+02,302.000000,302.0,302.000000,302.000000,302.000000,302.000000
mean,0.0,0.049669,0.062914,0.016556,0.307947,0.168874,0.069536,0.019868,0.453642,0.536424,0.198675,0.569536,0.062914,0.019868,0.056291,0.364238,0.046358,0.380795,0.410596,0.264901,0.033113,0.082781,0.026490,0.112583,0.304636,0.182119,0.195364,0.268212,0.215232,0.109272,0.907285,0.847682,0.119205,0.076159,0.178808,3.675232e+05,4143.774834,0.0,79.006623,529.334437,16.228477,6.745033
std,0.0,0.217621,0.243211,0.127813,0.462411,0.375263,0.254786,0.139777,0.498673,0.499499,0.399665,0.495963,0.243211,0.139777,0.230866,0.482015,0.210607,0.486388,0.492758,0.442013,0.179228,0.276009,0.160854,0.316607,0.461017,0.386583,0.397139,0.443764,0.411665,0.312497,0.290514,0.359925,0.324568,0.265693,0.383827,7.015058e+05,10705.224967,0.0,173.482256,1498.433912,9.137058,3.873999
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.365400e+04,586.000000,0.0,6.000000,44.000000,1.000000,1.000000
25%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,9.909150e+04,1144.250000,0.0,18.250000,160.250000,8.000000,3.000000
50%,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.540085e+05,1617.000000,0.0,31.000000,229.000000,16.000000,6.500000
75%,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,3.323312e+05,3099.500000,0.0,75.750000,374.750000,24.000000,10.000000
max,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.529170e+06,152477.000000,0.0,2249.000000,21209.000000,31.000000,13.000000

### Viral videos

Set up dichotomous variable for 'viral video', where viral videos have the highest 10% of views.

In [60]:
print('The max number of views is', data.viewCount.max())
print('The min number of views is', data.viewCount.min())
print('The upper 10% of viewership is greater than', round(data.viewCount.quantile(.9)), 'views')

The max number of views is 7529170.0
The min number of views is 43654.0
The upper 10% of viewership is greater than 727790 views

In [53]:
threshold = data.viewCount.quantile(.9)
data['viral'] = data['viewCount'] >= threshold
data['viral'] = data['viral'] * 1

In [64]:
print('There are', (len(data.viral[data.viral ==1])), 'viral videos is this data set.')

There are 31 viral videos is this data set.

### Training data

In [79]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score, confusion_matrix
from sklearn import decomposition
from sklearn.preprocessing import MinMaxScaler

In [75]:
y = data['viral']
x = data.iloc[:,2:36]

In [76]:
x.head()

,barn,beach,bridge,bushes,cabin,cirrus,cliff,clouds,conifer,cumulus,deciduous,fence,flowers,fog,grass,hills,lake,mountain,mountains,night,ocean,palm_trees,path,river,rocks,snow,snowy_mountain,structure,sun,tree,trees,waterfall,waves,winter
a mild winter's day,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,1,0,0,1
a pretty autumn day,0,0,0,0,0,0,0,1,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,1,0,0,1,1,0,0,0
a walk in the woods,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
absolutely autumn,0,0,0,1,0,0,0,1,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
after the rain,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0

In [80]:
# 60% train and 40% test data# 60% tr 
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=42, stratify=y)

In [81]:
tree = DecisionTreeClassifier()

tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

### Test model

In [83]:
y_pred = tree.predict(X_test)

print("{:30}{:3f}".format('F1 score', f1_score(y_test, y_pred)))
print("{:30}{:3f}".format('Test accuracy', accuracy_score(y_test, y_pred)))

F1 score                      0.064516
Test accuracy                 0.760331

In [84]:
# scores
print('Feature importance')
for idx, val in enumerate(tree.feature_importances_):
    print("{:30}{:3f}".format(x.columns[idx], val))

Feature importance
barn                          0.000000
beach                         0.000000
bridge                        0.000000
bushes                        0.082579
cabin                         0.015098
cirrus                        0.000000
cliff                         0.000000
clouds                        0.008486
conifer                       0.084880
cumulus                       0.029178
deciduous                     0.027423
fence                         0.000000
flowers                       0.007244
fog                           0.011697
grass                         0.018626
hills                         0.000000
lake                          0.074483
mountain                      0.008693
mountains                     0.125731
night                         0.018965
ocean                         0.000000
palm_trees                    0.000000
path                          0.066255
river                         0.135665
rocks                         0.043463
snow                          0.033313
snowy_mountain                0.078549
structure                     0.000000
sun                           0.051850
tree                          0.051513
trees                         0.000000
waterfall                     0.026310
waves                         0.000000
winter                        0.000000

In [85]:
print('Confusion Matrix')
print(confusion_matrix(y_test, y_pred))

Confusion Matrix
[[91 18]
 [11  1]]